# prometheus-values.yaml
# Minimal configuration for Prometheus on K3s

server:
  global:
    scrape_interval: 15s

  persistentVolume:
    enabled: false  # Disable persistence for demo/free tier to save resources

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi

alertmanager:
  enabled: false # Disable Alertmanager to save resources

nodeExporter:
  enabled: true
